p.attention {color:red;}
.buttons {
position:absolute;
left:5px;
top:5px;
z-index:1;  
}
.buttonsSweaters {
position:absolute;
left:300px;
top:5px;
z-index:1;
visibility: hidden;  
}
.prices {
position:absolute;
left:5px;
top:80px;
z-index:1;  
}
.upgrades {
position:absolute;
left:5px;
top:160px;
z-index:1;  
}

.builds {
position:absolute;
left:300px;
top:160px;
z-index:1;  
}